@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(225, 100%, 94%);
}
.card {
  width: 340px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.1);
}
.card-img {
  width: 340px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-bottom: 10px;
}
.card-title {
  font-weight: 900;
  font-size: 24px;
  margin: 20px;
  color: hsl(223, 47%, 23%);
}
.card-p {
  font-size: 16px;
  font-weight: 500;
  width: 270px;
  text-align: center;
  line-height: 26px;
  margin-bottom: 20px;
  color: #767b99;
}
.plan-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 19px;
}
.plan-text {
  display: flex;
  flex-direction: column;
  margin: 0 50px 0 20px;
}
.plan-box {
  border-radius: 12px;
}
.plan-box-title {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 2px;
  color: hsl(223, 47%, 23%);
}
.plan-box-p {
  font-size: 15px;
  color: #767b99;
}
.plan-box a {
  font-size: 13px;
  font-weight: 900;
  color: hsl(245, 75%, 52%);
  transition: 0.3s;
}
.proceed-btn {
  font-size: 16px;
  font-weight: 900;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  margin: 20px;
  padding: 15px 65px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.cancel-btn {
  border: 0;
  font-size: 16px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  color: #767b99;
  margin: 0 0 30px 0;
  transition: 0.3s;
}
.foot {
  margin-top: 10px;
  font-size: 12px;
}
.plan-box a:hover {
  text-decoration: none;
  color: hsla(245, 75%, 52%, 0.8);
}
.proceed-btn:hover {
  background-color: hsla(245, 75%, 52%, 0.8);
  cursor: pointer;
}
.cancel-btn:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}

@media (min-width: 768px) {
  .card {
    width: 400px;
  }
  .card-img {
    width: 400px;
  }
  .card-p {
    width: 300px;
  }
  .plan-box {
    padding: 19px;
    width: 300px;
  }
  .plan-text {
    margin: 0 85px 0 20px;
  }
  .proceed-btn {
    padding: 15px 90px;
  }
}
